<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminCommon::common-header"></head>
<body class="sb-nav-fixed">
<!-- 导航栏 -->
<nav th:replace="adminCommon::common-navbar"></nav>

<div id="layoutSidenav">
    <!-- 侧边栏 -->
    <div th:replace="adminCommon::common-sidenav"></div>

    <!--插入图片-->
    <style>
        body {
            background-image: url('/img/background2.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>

    <!-- 主要内容区域 -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4 text-center font-weight-bold">添加课程</h1>

                <!-- 面包屑导航 -->
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/toAdminMain}">主页</a></li>
                    <h1 style="font-size: 20px;">-></h1>
                    <li class="breadcrumb-item"><a th:href="@{/class/selClass}">课程管理</a></li>
                    <h1 style="font-size: 20px;">-></h1>
                    <li class="breadcrumb-item active">添加课程</li>
                </ol>

                <!-- 添加课程的表单 -->
                <div class="card mb-4">
                    <form th:action="@{/class/addClass}" method="post" name="addForm"
                          onsubmit="return beforeSubmit(this)">
                        <table class="table table-hover">
                            <tr>
                                <td text-align="center">编号：</td>
                                <td><input type="text" class="form-control" placeholder="4位编号" name="classId"></td>
                            </tr>
                            <tr>
                                <td text-align="center">名称：</td>
                                <td><input type="text" class="form-control" placeholder="课程名称" name="className">
                                </td>
                            </tr>
                            <tr>
                                <td text-align="center">时间：</td>
                                <td><input type="text" class="form-control" placeholder="xxxx年xx月xx日 00：00" name="classBegin">
                                </td>
                            </tr>
                            <tr>
                                <td text-align="center">时长：</td>
                                <td><input type="text" class="form-control" placeholder="xx分钟" name="classTime">
                                </td>
                            </tr>
                            <tr>
                                <td text-align="center">教练：</td>
                                <td><input type="text" class="form-control" placeholder="教练" name="coach">
                                </td>
                            </tr>
                        </table>
                        <div style="text-align:center;margin-top:20px;margin-bottom:20px">
                            <input type="submit" class="btn btn-outline-success" value="添加">
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <!-- 页脚 -->
        <footer th:replace="adminCommon::common-footer"></footer>
    </div>
</div>

<!-- 引入公共脚本 -->
<div th:include="adminCommon::common-scripts"></div>

<!-- 表单提交前的验证脚本 -->
<script type="text/javascript">
    function beforeSubmit(addForm) {
        // 检查课程编号是否为空
        if (addForm.classId.value == "") {
            alert("请输入课程编号！");
            return false;
        }
        // 检查课程名称是否为空
        if (addForm.className.value == "") {
            alert("请输入课程名称！");
            return false;
        }
        // 检查课程时间是否为空
        if (addForm.classBegin.value == "") {
            alert("请输入课程时间！");
            return false;
        }
        // 检查课程时长是否为空
        if (addForm.classTime.value == "") {
            alert("请输入课程时长！");
            return false;
        }
        // 检查教练是否为空
        if (addForm.coach.value == "") {
            alert("请输入教练！");
            return false;
        }
        // 如果所有字段都已填写，则允许提交表单
        return true;
    }
</script>
</body>
</html>